html {
  background: #16161d; /* Eigengrau */
}

article {
  background: #fff8e7; /* Cosmic Latte */
  margin: 0 auto;
  padding: 1em;
  max-width: 100vmin;
  min-height: 100vmin;
}

h1 {
  color: #fff8e7;
  text-shadow: 1px 1px 1px #6667ab;
}

h2 {
  color: #6667ab;
  margin: 0;
}

p {
  margin: 0;
}

section {
  outline: solid 1px hotpink;
  margin: 0 0 1em 0;
  padding: 1em;
  border-radius: 0.1em;
  max-width: 42ch;
}

section:nth-of-type(even) {
  background: #fff;
}
